<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Career Website</title>

  <style>
    body{
        font-family : Roboto;
      
    }
    h1{
      font-size : 40px;
      font-weight : normal;
      color : rgb(50, 50, 50);
      text-align : center;
    }
    #banner{
      width : 100%;
      height : 360px;
      object-fit : cover;
    }
  h2{
    font-size : 32px;
    color : rgb(100, 100, 100);
    text-align : center;
  }
  .body-text{
    color:rgb(80,80,80);
  }
  #container{
    max-width : 720px;
    margin : 0px auto;
  }
  </style>
  
</head>
<body>
    <div id="container">
      <!-- To learn html you can visit : https://htmldog.com/guides/ -->
      <h1>Career website</h1>
    
      <img id="banner" src="{{ url_for('static', filename='banner.jpg') }}" />
      <h2>About Jovian</h2>
      <p clss="body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Ullamcorper morbi tincidunt ornare massa eget. Tellus at urna condimentum mattis pellentesque id nibh. Lectus arcu bibendum at varius vel pharetra vel turpis nunc. Risus pretium quam vulputate dignissim suspendisse in est ante in. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Duis convallis convallis tellus id interdum. Erat imperdiet sed euismod nisi porta lorem. Fringilla urna porttitor rhoncus dolor purus non. Convallis aenean et tortor at risus viverra adipiscing. Massa massa ultricies mi quis hendrerit.
    
      Id porta nibh venenatis cras sed felis eget velit. Consequat mauris nunc congue nisi vitae suscipit tellus mauris. Id diam vel quam elementum pulvinar etiam non quam lacus. Imperdiet sed euismod nisi porta lorem. Viverra maecenas accumsan lacus vel. Euismod nisi porta lorem mollis aliquam ut porttitor leo a. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Quam elementum pulvinar etiam non. Etiam erat velit scelerisque in dictum non. Porttitor rhoncus dolor purus non enim praesent elementum. Ac ut consequat semper viverra nam libero justo laoreet. Magna eget est lorem ipsum dolor. Tincidunt lobortis feugiat vivamus at.
    
      Tellus in metus vulputate eu scelerisque. Dignissim sodales ut eu sem. Venenatis urna cursus eget nunc scelerisque viverra. Pharetra et ultrices neque ornare aenean euismod elementum nisi. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Id leo in vitae turpis massa sed elementum tempus egestas. Sit amet justo donec enim diam vulputate ut pharetra. Ultrices sagittis orci a scelerisque purus semper. Ipsum dolor sit amet consectetur adipiscing. Feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Vitae congue eu consequat ac. Vulputate ut pharetra sit amet.</p>
    
      
      <h2>Open positions</h2>
      <p>TODO - show the jobs here </p>
      <div style="text-align : center">
        <button>Contact us</button>
        <p>Copyright 2022, Jovian</p>
      </div>
    </div>
</body>
</html>